.Login-Page {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    351deg,
    rgba(90, 62, 194, 0.9) 35%,
    rgba(2, 0, 36, 1) 35%
  );
  background-image: url("https://cdn.pixabay.com/photo/2018/01/22/18/48/statue-3099675_960_720.png"),
    linear-gradient(
      351deg,
      rgba(90, 62, 194, 0.9) 35%,
      rgba(27, 24, 100, 0.616) 35%
    ); /* W3C */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.LoginForm-Wrapper {
  background: rgba(255, 255, 255, 0.9);
  width: 75%;
  position: absolute;
  top: 20%;
  left: 12.5%;
  border-radius: 4px;
  padding: 25px;

  .form-group {
    text-align: left;
  }

  h2 {
    text-align: left;
    border-bottom: 1px solid lightblue;
  }
}

.exists {
  transition: height 0.25s ease;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .LoginForm-Wrapper {
    left: 25%;
    width: 50%;
  }
}
