.Login-Page {
  width: 100vw;
  height: 100vh;
  // background: rgb(90, 62, 194);
  // background: linear-gradient(
  //   351deg,
  //   rgba(90, 62, 194, 1) 15%,
  //   rgba(2, 0, 36, 1) 15%,
  //   rgba(2, 0, 36, 1) 85%,
  //   rgba(90, 62, 194, 1) 85%
  // );
  background: rgb(2, 0, 36);
  background: linear-gradient(
    348deg,
    rgba(255, 255, 255, 1) 61%,
    rgba(2, 0, 36, 1) 61%
  );
}

.LoginForm-Wrapper {
  background: white;
  width: 75%;
  position: absolute;
  top: 20%;
  left: 12.5%;
  border-radius: 4px;
  padding: 25px;
}

.exists {
  transition: height 0.25s ease;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .LoginForm-Wrapper {
    left: 25%;
    width: 50%;
  }
}
