.Landing-Wrapper {
  background-image: url("https://free4kwallpapers.com/uploads/originals/2016/05/12/yosemite-national-park-yosemite-valley-wallpaper.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
}

.Landing-Welcome {
  height: 100vh;
  background: linear-gradient(
    351deg,
    rgba(90, 62, 194, 0.9) 35%,
    rgba(2, 0, 36, 0.5) 35%
  );
}

.Landing-Body {
  background: rgba(90, 62, 194, 0.9);
  padding: 25px;
}

.Landing-Footer {
  height: 75vh;
  background: linear-gradient(
    351deg,
    rgba(2, 0, 36, 0.5) 45%,
    rgba(90, 62, 194, 0.9) 45%
  );
}

.Landing-Title {
  font-size: 86px;
  position: absolute;
  top: calc(50vh - 128px);
  right: 10%;
}

.Landing-Body--Text {
  display: grid;
  grid-template-columns: 1fr 2fr;

  > p {
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .Landing-Title {
    font-size: 128px;
    right: 15%;
  }
}
