.Home-Wrapper {
  padding-top: 75px;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Home-HeaderWrap {
  margin: 0;
  padding: 15px;
}

.Home-Header {
  margin: 0;
  padding: 30px;
  height: 250px;
  width: 250px;
  align-self: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Home-Avatar {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 96px;
  width: 96px;
  font-size: 56px;
  background-color: lightseagreen;
  border-radius: 50%;
}

.Home-Username {
  font-size: 32px;
  font-weight: bold;
}

.Home-Name {
  font-size: 24px;
  font-weight: 600;
}

.Home-TasksRow {
  width: 100%;
  min-height: 70vh;
  background-color: rgb(218, 236, 247);
  margin: 0;
  padding: 15px;
  border-top: 1px solid lightskyblue;
  box-shadow: 0 -1px 5px lightskyblue;
  justify-content: space-between;
}

.Home-TasksColumn {
  min-height: 100%;
  padding: 0;
  margin: 0 15px;
  background-color: white;
  border-radius: 4px;
}

.Home-CreateTask {
  font-size: larger;
  margin: 15px;
  border-bottom: 1px solid lightslategray;
  color: skyblue;
  transition: color 0.25s ease;
  cursor: pointer;

  &:hover {
    color: lightblue;
  }
}
