.Register-Page {
  width: 100vw;
  height: 100vh;
  background: rgb(90, 62, 194);
  background: linear-gradient(
    351deg,
    rgba(90, 62, 194, 1) 35%,
    rgba(2, 0, 36, 1) 35%
  );
}

.RegisterForm-Wrapper {
  position: absolute;
  max-height: 80vh;
  overflow-y: auto;
  width: 75%;
  top: 17.5%;
  left: 12.5%;
  background: white;
  border-radius: 4px;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .form-group {
    text-align: left;
  }

  h2 {
    text-align: left;
    border-bottom: 1px solid lightblue;
  }
}

@media screen and (min-width: 768px) {
  .RegisterForm-Wrapper {
    width: 50%;
    left: 25%;
  }
}
